.gallery-viewing{
    background-color: #2196F3;
    padding: 15px;
}

.action-buttons{
    padding: 20px;
}

.deletePhoto {
    background-color: white;
    border-radius: 50;
    width: 85px;
    height: 85px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    border-color: #ededed;
    border-width: 5;
    margin-left: 10;
    margin-right: 10;
    horiontal-align: center;
    vertical-align: bottom;
}


.image {
    background-color: #ededed;
    border-radius: 0;
    width: 310;
    height: 310;
    margin-top: 75;
}

.image-pic{
    margin: 15;
}

